#content_welcome {
  padding: 56px 0 0;
  #hero-section {
    background-image: url("../../ASSETS/hero-me.png");
    width: 100vw;
    height: 90vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;

    .container-header {
      padding: 0 140px;
      b {
        text-decoration-line: underline;
        text-decoration-style: dotted;
        text-decoration-color: #007efd;
      }
    }
  }
}
