#content_welcome {
  #hero-section {
    background-image: url("../../ASSETS/hero-me.png");
    width: 100vw;
    height: 90vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    display: flex;
    align-items: flex-start;
  }
}
