#content_welcome {
  padding: 56px 0 0;

  #hero-section {
    background-image: url("../../ASSETS/hero-me.png");
    width: 100vw;
    height: 100vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;

    .container-header {
      padding: 0 140px;
      b {
        text-decoration-line: underline;
        text-decoration-style: dotted;
        text-decoration-color: #007efd;
      }
    }
  }
  
  @media (max-width: 960px) {
    #hero-section {
      background-image: none;
    }
    .container-header {
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;

      text-align:justify;
      padding: 15px !important;
    }
  }
}
