#main-drawer {
  .MuiAppBar-colorTransparent {
    backdrop-filter: blur(20px);
    border-style: solid;
    border-color: rgb(231, 235, 240);
    border-width: 0px 0px thin;
    background: rgba(255, 255, 255, 0.7);
    color: rgb(45, 56, 67);
  }
  .MuiAppBar-root {
    max-height: 56px;
  }
  // .MuiToolbar-root .MuiToolbar-regular {
  //   max-height: 56px;
  // } 
}

// @media (min-width: 600px) {
//   .MuiToolbar-regular {
//     max-height: 56px;
//   }
// }
